# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata/

# Ruby/Bundler
/vendor/
.bundle/

# Node
node_modules/

# OS/editor noise
.DS_Store
Thumbs.db
*.log

# Images/large data (if you generate)
*.tmp
*.bak
