<nav class="site-nav">
  <div class="container">
    <a class="brand" href="{% link about/index.md %}"><strong>MSL</strong>.db</a>
    <ul class="menu">
      <li><a href="{% link about/index.md %}#experience">Experience</a></li>
      <li><a href="{% link about/index.md %}#skills">Technical Skills</a></li>
      <li><a href="{% link about/index.md %}#project-roadmap">Project Roadmap</a></li>
      <li><a href="{% link about/index.md %}">About</a></li>
      <li><a href="{% link about/index.md %}#resume">Résumés</a></li>
      <li><a href="{% link about/index.md %}#blog">Blog</a></li>
      <li><a href="{% link about/index.md %}#contact">Contact</a></li>
    </ul>
  </div>
</nav>
