---
---

@import "minimal-mistakes/skins/dark";  /* must come first */
@import "minimal-mistakes";             /* then the core theme */

/* overrides */
.roadmap { position:relative; display:block; width:100%; margin:1rem 0; text-align:center; }
.roadmap-svg { position:relative; z-index:1; display:block; max-width:100%; height:auto; margin:0 auto; }

.page__hero { height: 300px; }
.page__hero-image {
  width: 100%;
  height: 100%;
  object-fit: contain;       /* scale inside without cropping */
  object-position: center;
  background: transparent;   /* or match your page bg */
}


