.header {
    height: 95vh; /* vh = Viewport Height */
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)),
        url(../img/extruded_custom_text_20997_lg.jpg);
    background-position: top center;
    background-size: cover;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
    }

    &__logo {
        height: 7rem;
    }
    
    &__logo:hover {
        transition: $default-transition;
        opacity: 0;
    }
    
    &__text-box {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}