*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    margin: 0 auto;
    padding: 0;
    min-width: 196px;
    // Last one wins. Order is relevant. It is opposite for mobile first

    // This defines 1rem. Default is usually 16px, and 62.5% of 16 is 10.
    font-size: 62.5%; //1 rem = 10px; 10px/16 = 62.5%

    @include respond(wide-screen) {
        font-size: 75% !important; //1 rem = 12px, 12/16 = 75%
        // max-width: 1440px;
        margin: 0 auto;
        padding: 2px;
    }
    @include respond(desktop) {
        font-size: 75% !important; //1 rem = 12px, 12/16 = 75%
        margin: 0 auto;
        padding: 1px;
    }

    @include respond(tab-land) { // < 900
        font-size: 55%; //1 rem = 9px, 9/16 = 56.25%
        margin: 0 auto;
        padding: 1px;
    }

    @include respond(tab-port) { // < 600
        font-size: 45%; //1 rem = 8px, 8/16 = 50%
        margin: 0 auto;
        padding: 0.5px;
    }

    @include respond(phone) {
        font-size: 30%; //1 rem = 4.8px, 4.8/16 = 30%
        margin: 0 auto;
        padding: 0.5px;
    }
}

body {
    box-sizing: border-box;
    padding: 0.5rem;
    
    @include respond(tab-land) {
        margin: 0 auto;
        padding: 1px;
    }

    @include respond(tab-port) {
        padding: 0.3rem;
        margin: 0 auto;
    }

    @include respond(phone) {
        padding: 0.3rem;
        margin: 0 auto;
    }
}

/* Overrides */
.layout--single {
    column-span: all;
    max-width: 120rem;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    color: $color-basefont;
    transform: scale(1.2);
    transform-origin: 0 0;              /* anchor at top-left */
    width: calc(100% / 1.2);            /* prevent sideways scroll */
}
.masthead .site-title { 
    color: $color-basefont;
}

.page__hero--overlay .page__title { 
    color: $color-basefont;; 
}

.wide-center-page {
  text-align: center;
}



