.u-center-text {
    text-align: center !important; // Because the display is inline-block, use text-align center
}

.u-margin-bottom-xs {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-sm {
    margin-bottom: 2rem !important;
}

.u-margin-bottom-md {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-lg {
    margin-bottom: 6rem !important;
}

.u-margin-bottom-xl {
    margin-bottom: 8rem !important;
}

.u-margin-top-md {
    margin-bottom: 4rem !important;
}

.u-margin-top-lg {
    margin-bottom: 6rem !important;
}

.u-margin-top-xl {
    margin-bottom: 8rem !important;
}